<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Forgot your password</h4>
      </div>
      <div class="modal-body">
        <%= flash_messages %>
        <p>Password reset instructions will be emailed to your registered email account.</p>
        <%= form_for :password, url: password_path, html: {class: "form-horizontal"} do |form| %>
        <div class="container">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
              <input class="form-control" id="email" name="email" placeholder="Email" size="30" type="email" value="" />
            </div>
          </div>
          <div class="row">
            <%= link_to ('<span class="glyphicon glyphicon-arrow-left"></span>' + ' Back to sign in').html_safe, :root %>
            <button type="submit" class="btn btn-primary pull-right">Send me instructions</button>
          </div>
        </div><!-- /.container -->
        <% end %>
      </div><!-- /.modal-body -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dalog -->

<script type="text/javascript">
  $(function() {
    $('.modal').modal({
      backdrop: 'static'
    });
  });
</script>
